body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

.content{
    display: flex;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 84px 7px rgba(48,59,90,0.75);
}

.results{
    text-align: center;
    width: 50%;
    padding: 0% 8%;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 7%;
    padding-bottom: 3%;

}

.summary{
    list-style-type: none;
    width: 50%;
    padding: 0% 5%;
    
}

h3,p{
    display: inline;
}

ul{
    list-style-type: none;
    padding: 0px;
}

li{
    display: flex;
    margin: 3%;
    border-radius: 20px;
}

img{
    margin-left: 14px;
    width: 10%;
}

h3{
    width: 40%;
    padding-left: 3%;
    font-size: 18px;
}

p{
    width: 50%;
    text-align: center;
    margin-top: 8%;
}

h2{
    text-align: center;
}

.score{
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 50%;
    padding: 8%;
    padding-top: 5%;
    border-radius: 50%;
    margin-left: 15%;
}

.continue{
    font-size: 18px;
    font-weight: 400;
    background-color: hsl(224, 30%, 27%);
    display: block;
    margin: auto;
    color: hsl(0, 0%, 100%);
    padding: 3% 30%;
    margin-bottom: 25px;
    border-radius: 30px;
}

@media (max-width: 768px) {
    .content{
        display: flex;
        flex-direction: column;
    }
}