body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

.content{
    display: flex;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 84px 7px rgba(48,59,90,0.75);
    padding: 0;
}

.results{
    text-align: center;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 7%;
    padding-bottom: 3%;
    padding: 3%;
}

.summary{
    padding: 0% 5%;
    width: 50%;
}

.summary-items > p{
    margin: auto;
}


img{
    margin-left: 14px;
    width: 10%;
}

h3{
    width: 40%;
    padding-left: 3%;
    font-size: 18px;
}

.summary-items{
    margin: 10px 0;
    border-radius: 20px;
}

h2{
    text-align: center;
}

.score{
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    overflow: auto;
}

.continue{
    font-size: 20px;
    text-align: center;
    margin: 25px 0;
    background-color: hsl(224, 30%, 27%);
    color: white;
    padding: 4%;
    border-radius: 20px;
}

.summary-items{
    display: flex;
    flex-direction: 
}

@media (max-width: 768px) {
    .content{
        display: flex;
        flex-direction: column;
    }
    .summary{
        width: auto;
    }
}